@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Spoqa Han Sans Neo', 'sans-serif';

  /* scroll bar */
  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #F5F6FA;
    border-radius: 1rem;
  }
}

body {
  min-width: 1920px;
  
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F6FA;
  }
}

@media (max-width: 100vw) {
  html {
    /* 20px */
    font-size: 1.3889vw;
  }
}

/* antd 모달 관련 스타일 */
.ant-modal-root {
  z-index: 1000 !important;
}

.ant-modal-mask {
  z-index: 1000 !important;
}

.ant-modal-wrap {
  z-index: 1000 !important;
}

.ant-drawer-content-wrapper {
  box-shadow: none !important;
}
